{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 13px;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}"><img width="10%" src="{% static 'img/logo.png' %}" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto" style="margin-left: 60%;" >
          
          <li class="nav-item">
            <a href="{% url 'credits' %}" class="btn btn-success">Credits</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>